:root{
    --main-color: #6F6AF7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    background-color: var(--main-color);
    /* height: */
}
section{
    padding: 9.6rem 10rem 0 10rem;
}
.container{
    display: flex;
    max-width: 152rem;
    
    /* border:2px solid black; */
    margin: 0 auto;

    
}
header{ 
        position: fixed;
        top:0;
        width: 100%;
    /* & .container{ */
        display: flex;
        /* gap:10rem; */
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        padding: 1.8rem 7.4rem;
        height:8rem;
        z-index: 1;
    /* } */
        & .logo img{
            height: 3rem; 
        }
        & nav {
            display: flex;
            gap:6.4rem;
            text-transform:capitalize;
            font-weight:400;
            font-size:1.8rem;
            /* position: relative; */
        }
        & a{
            color:#fff; 
            margin-top: 0.5rem;       
        }
        & input{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 4.5rem 1.5rem; /* Adjusted background size */
            outline: none;
            border: none;
            border-radius: 2rem;
            width: 22rem;
            padding:0.5rem 1rem;
            height: 3.5rem;
        }
        & .menu-icon img{
            width: 3rem;
        }    
    
}

.hero-section 
{
    margin-top: 7rem;
    & .container{
        
        gap:6.4rem;
        & .textarea-class{
            width: 100%;

            textarea{
                width: 99%;
                height: 100%;
                background-color: #E5D8FF;
                outline: none;
                border: none;
                border-radius: 1rem;
                line-height: 3.5rem;
                padding: 2.5rem 4.5rem;
                font-size: 1.8rem;
            }
        }
    }
}

.block-section .container{
    color:#fff;
    font-weight: 700;
    font-size:2.8rem;
    justify-content: space-between;
    
    & div{ 
        padding: 2.2rem;
        min-width: 30rem;
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        & p:last-child{
            font-size: 2.4rem;
            margin-top: 1.5rem;
        }
        }   
    & .box1{
        background-color: #929DFF;
    }
    & .box2{
        background-color: #734CF2;
    }
    & .box3{
        background-color: #D288FF;
    }
    & .box4{
        background-color: #000000;
    }
} 

.info-block{
    & .container{
        background-color: #483EFF;
        padding:2rem;
        border-radius: 2rem;
        & .btn-block{
            width:30%;
            display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
    
            & div{
                font-size: 3rem;
                font-weight: 700;
                text-align: center;
                /* margin: auto; */
                padding: 3rem 0;
                /* text-transform: uppercase; */
                border-radius: 2rem;
                min-width: 30rem;
                margin: 3rem 0;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }
            & .info{
                border: 2px solid transparent;
                border-radius: 2rem;
                background-color: #BCE0F6;
            }

            & .bookmarks, .settings{
                color: #fff;
                border: 2px solid #fff;
            }
        }
    }
    
    & .info-container{
        position: relative;
        width: 70%;
        background-color: #fff;
        padding: 50px;
        border-radius: 2rem;
        & h3{
            font-size: 2.4rem;
            letter-spacing: 0.1rem;
        }
        & .details-container{
            display: flex;
            margin:25px;
            gap:20px;
            & .details{
                display: flex;
                flex-direction: column;
                gap:10px;
                font-size: 1.6rem;
                font-family: "Roboto";
                & .label{
                    font-weight: 600;
                    font-size: 1.6rem;
                }
            }
        }
        
    }
    margin-bottom: 10rem;

    & button{
        background-color: #000000;
        color:#fff;
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 1rem 3rem;
        font-size: 2.4rem;
        text-align: center;
        border-radius: 1rem;
        & img{
            width: 2rem;
            height: auto;
        }
    }
}

.support{
    width:10rem;
    position: fixed;
    bottom: -12px;
    right: 10rem;
}

.social-icon-div{
    width:5rem;
    height:10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1px;
    /* border:2px solid black; */
    position: sticky;
    margin-top: -25%;
    top:27%;
    float: right;
    & div{
        width:55px;
        height:55px;
        border:2px solid black;
        padding:2px;

        
    }
}