:root{
    --body-text : white;
    --main-bg:hsl(222, 26%, 31%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin: 45px auto; */
}

body{
    color: var(--body-text);
    background: var(--main-bg);
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:100px 0;
}
main{
    width: 540px;
}

.screen{
    height: 128px;
    width: 100%;
    font-size: 54px;
    background-color: #181F32;
    border-radius: 10px;
    margin-bottom: 25px;
    color: white;
    padding: 40px;
    text-align: right;
}

.button-class{
    display: grid;
    background-color: #252D44;
    grid-template-columns: repeat(4,1fr);
    gap:25px;
    padding: 32px;
    border-radius: 10px;
}

button{
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 40px !important;
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0 4px 0 hsl(28, 16%, 65%);
    text-align: center;
    font:inherit;
    padding-top: 10px;
}

.filled{
    box-shadow: 0 4px 0 hsl(224, 28%, 35%);
    background-color: hsl(225, 21%, 49%);
    color: white;
    font-size: 28px !important;
    text-transform: uppercase;
}

.btn-large{
    grid-column: 2 span;
}

button:nth-last-child(1){
    background-color: hsl(6, 63%, 50%);
    color: white;
    box-shadow: 0 4px 0 hsl(6, 70%, 34%);
}